.card__title {
  max-width: 190px;
  margin: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}
