.card__like-button {
  width: 22px;
  height: 19px;
  margin: 0 auto;
  padding: 0;
  background: url('../../../images/likebutton.svg') no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card__like-button:hover {
  opacity: 0.5;
}
