.authorization__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media (max-width: 530px) {
  .authorization__title {
    font-size: 18px;
    line-height: 22px;
  }
}
