.profile__avatar {
  margin: 0 30px 0 0;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

@media (max-width: 1080px) {
  .profile__avatar {
    margin: 0;
  }
}
